.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  text-align: center;
  z-index: 2;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 400px;
    font-size: 50px;
    line-height: 109%;
  }
}

@media (max-width: 425px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
  }
}
