.lead__title {
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  margin: 28px auto 0;
}

@media (max-width: 1024px) {
  .lead__title {
    margin: 20px auto 0;
  }
}

@media (max-width: 767px) {
  .lead__title {
    padding: 0 15px;
    font-size: 56px;
    line-height: 110%;
  }
}

@media (max-width: 425px) {
  .lead__title {
    padding: 0 10px;
    font-size: 40px;
  }
}
