.intro {
  max-width: 690px;
  padding: 92px 148px;
}

@media (max-width: 1024px) {
  .intro {
    padding: 92px 48px;
  }
}

@media (max-width: 800px) {
  .intro {
    max-width: 100%;
    padding: 88px 24px;
  }
}

@media (max-width: 425px) {
  .intro {
    padding: 64px 16px;
  }
}
