.lead__subtitle {
  max-width: 640px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  margin: 32px auto 64px;
  padding: 0 48px;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 54px;
  }
}

@media (max-width: 800px) {
  .lead__subtitle {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 125%;
  }
}

@media (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    margin: 16px auto 40px;
    padding: 0 16px;
  }
}
