.cover {
  width: 100%;
  padding-top: 62.5%;
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    margin-left: -48px;
    width: calc(100% + 48px + 48px);
  }
}

@media (max-width: 768px) {
  .cover {
    margin-left: -24px;
    width: calc(100% + 24px + 24px);
  }
}

@media (max-width: 425px) {
  .cover {
    margin-left: -16px;
    width: calc(100% + 16px + 16px);
  }
}
