.place__url {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  margin: 0;
}

@media (max-width: 767px) {
  .place__url {
    margin: 0 0 12px;
  }
}
