.place {
  padding: 80px 0 0;
  display: grid;
  grid-template-columns: 48.3% 51.7%;
  grid-template-rows: minmax(46px, auto) 1fr;
  gap: 40px;
}

.place:first-child {
  padding: 0;
}

@media (max-width: 1025px) {
  .place {
    gap: 32px;
  }
}

@media (max-width: 800px) {
  .place {
    gap: 28px;
    padding: 73px 0 0;
  }
}

@media (max-width: 769px) {
  .place {
    grid-template-columns: minmax(46px, 340px) minmax(46px, 352px);
  }
}

@media (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 425px) {
  .place {
    padding: 50px 0 0 0;
  }
}
